<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<h4 style="text-align:center">	
					Create Blog
			</h4>
				<div class="formcontainer" style="text-align:center">
					<form data-ng-submit="submit()" name="myForm"
						class="form-horizontal">

						
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="title">Title</label>
								<div class="col-md-7">
									<input type="text" data-ng-model="blog.title"
										id="password" class="username form-control input-sm"
										placeholder="Enter your blog title" required ng-minlength="3" />
								</div>
							</div>
						</div>


						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="description">description</label>
								<div class="col-md-7">
									<textarea data-ng-model="blog.description"
										placeholder="Description.." class="form-control" required
										rows="12"></textarea>

								</div>
							</div>
						</div>

						


						

						<div class="row">
							<div class="form-actions floatRight">
								<input type="submit" value="Create"
									class="btn btn-primary btn-sm">
								<button type="button" data-ng-click="reset()"
									class="btn btn-warning btn-sm">Reset Form</button>
							</div>
						</div>
					</form>
				</div>
			</div>


</body>
</html>